/* About section */
.about__container {
    padding: 0 25px;
}

.about__wrapper {
    padding: 130px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__text {
    text-align: center;
    max-width: 780px;
}