/* Contact section */
.contact {
    background: linear-gradient(to left, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%), url('../assets/img/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
}

.contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 25px;
}

.contact__text {
    text-align: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 585px;
    margin-top: 54px;
}

.contact__input {
    width: 100%;
    padding: 15px 0 15px 15px;
    border: 1px solid var(--clr-red);
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: none;
}

.contact__input:focus {
    border: 2px solid var(--clr-red);
}

.contact__input::placeholder {
    font-size: 0.8125rem;
    color: var(--clr-silver);
}

.contact__sent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.contact__sent .contact__text {
    margin-left: 30px;
}

/* Contact media queries */
@media (max-width: 480px) {
    .contact__sent {
        flex-direction: column;
    }

    .contact__sent .contact__text {
        margin: 0 0 10px 0;
    }
}