/* Variables */
:root {
    /* colors */
    --clr-black: #000;
    --clr-white: #fff;
    --clr-red: #D07C7C;
    --clr-blush: #E6B5B5;
    --clr-coral: #D07C7C;
    --clr-gray-dark: #5A5957;
    --clr-gray: #696969;
    --clr-gray-light: #848282;
}

/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Playfair Display', serif; */
