/* Variables */
:root {
    /* colors */
    --clr-black: #000;
    --clr-white: #fff;
    --clr-red: #D07C7C;
    --clr-blush: #E6B5B5;
    --clr-coral: #C95555;
    --clr-gray-dark: #5A5957;
    --clr-gray: #696969;
    --clr-gray-light: #848282;
    --clr-silver: #A0A0A0;
    --clr-smoke: #EBEBEB;
}

/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* Global styles */
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: var(--clr-gray);
}

/* Container */
.container {
    max-width: 1250px;
    margin: 0 auto;
}
/* Heading styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    transition: font-size 250ms ease-in;
}

h1 {
    font-size: 3rem;
    color: var(--clr-white);
}

h2 {
    font-size: 1.5625rem;
    color: var(--clr-gray-dark);
    text-transform: uppercase;
}

.h-white {
    color: var(--clr-white);
}

.h-lc {
    text-transform: lowercase;
}

/* Heading media queries */
@media (max-width: 480px) {
    h1 {
        font-size: 2.625rem;
    }
}

/* Text styles */
.text {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.8;
}

.text-big {
    font-size: 1.125rem;
}

.text-small {
    font-size: 0.875rem;
}

.text-white {
    color: var(--clr-white);
}

.text-gray {
    color: var(--clr-gray-light);
}

.text-silver {
    color: var(--clr-silver);
}

/* Separator styles */
.sep {
    position: relative;
    height: 3px;
    max-width: 62px;
    width: 100%;
    background: var(--clr-red);
    margin: 23px 0 35px 0;
}

.sep-big {
    max-width: 79px;
    margin: 30px 0;
}

.sep-small {
    max-width: 32px;
}

.sep-white {
    background: var(--clr-white);
}

/* Cta styles */
.cta {
    padding: 17px 54px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: var(--clr-white);
    background: var(--clr-red);
    transition: background 250ms ease-in-out,
                border-radius 250ms ease-in-out;
}

.cta:hover {
    background: var(--clr-coral);
    border-radius: 3px;
}

.cta-small {
    padding: 17px 51px;
}

/* Overlay for modals */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.overlay.active {
    pointer-events: all;
    opacity: 1;
}