/* Testimonial section */
.testimonial__container {
    max-width: 1250px;
    margin: 0 auto;
}

.testimonial__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 25px 130px 25px;
    text-align: center;
}

.testimonial__slider {
    height: 200px; /* set height because all content inside is position absolute */
    width: 100%;
    max-width: 800px;
    position: relative;
    overflow: hidden; /* hide slide items outside box */
}

.testimonial__sliderTrack {
    position: relative;
    height: 100%;
    transition: transform 450ms ease-in-out;
}

.testimonial__slide {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.testimonial__ref {
    max-width: 550px;
}

.testimonial__author {
    margin-top: 20px;
}

.testimonial__indicators {
    margin-top: 20px;
}

.testimonial__indicator {
    border: 0;
    background: #D3D3D3;
    padding: 10px;
    border-radius: 50%;
    transition: padding 250ms ease-in-out,
                color 250ms ease-in-out;
}

.testimonial__indicator.active {
    background: var(--clr-red);
    padding: 13px;
}