/* Works section */
.works__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0 0 0;
}

.works__top {
    display: flex;
}

.works__left {
    flex: 2;
}

.works__row {
    display: flex;
}

.work__box {
    flex: 1;
}

.work__box--square {
    width: 100%;
    max-width: 370px;
}

.works__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works__right {
    flex: 1;
}

